.env
.venv
venv/
data/raw/*
data/processed/*
data/external/*
data/augmented/*
tests.py
pickle_format_example.py
logs/*
tests/*
models/*
models_output/*
models_output/contrastive_justice/*
models_output/scotus_net/*
scripts/models/*
__pycache__/
*.py[cod]
*$py.class
results/*
scripts/pretraining/results/*
test_justice_encoder.ipynb